@charset "ISO-8859-1";

body {
	background-color: #dee2e6;
}

.slogan-section {
	text-align: center;
	padding: 50px 0;
	background-color: #007bff;
	color: white;
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
}

.slogan {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.icon {
	font-size: 3rem;
	margin-bottom: 20px;
}


.card {
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}

.button-container {
	margin-top: 10px;
	text-align: center;
}

.btn-info {
	background-color: #007bff;
	border-color: #007bff;
	color: white;
}

.btn-info:hover {
	background-color: #0056b3;
	border-color: #0056b3;
}

.btn-success {
	background-color: #f48c42;
	border-color: #f48c42;
}

.btn-success:hover {
	background-color: #f48c42;
	border-color: #f48c42;
}

.filter-menu {
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.filter-menu select, .filter-menu input[type="checkbox"] {
	margin-bottom: 5px;
	width: 100%;
}

.filter-menu input[type="range"] {
	width: 100%;
}