<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>

</style>
</head>
<body>
 <div th:fragment="footer">
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Información</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Sobre nosotros</a></li>
                    <li><a href="#" class="text-white">Nuestro equipo</a></li>
                    <li><a href="#" class="text-white">Blog</a></li>
                    <li><a href="#" class="text-white">Carreras</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Soporte</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Preguntas frecuentes</a></li>
                    <li><a href="#" class="text-white">Contacto</a></li>
                    <li><a href="#" class="text-white">Servicio al cliente</a></li>
                    <li><a href="#" class="text-white">Estado del pedido</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Recursos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Descargas</a></li>
                    <li><a href="#" class="text-white">Documentación</a></li>
                    <li><a href="#" class="text-white">API</a></li>
                    <li><a href="#" class="text-white">Afiliados</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Términos y condiciones</a></li>
                    <li><a href="#" class="text-white">Política de privacidad</a></li>
                    <li><a href="#" class="text-white">Política de cookies</a></li>
                    <li><a href="#" class="text-white">Aviso legal</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 text-center">
                <p>&copy; 2024 Samsung. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6 text-center">
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="Http://www.facebook.com"><i class="fab fa-facebook-f text-white"></i></a></li>
                    <li class="list-inline-item"><a href="Http://www.instagram.com"><i class="fab fa-instagram text-white"></i></a></li>
                    <li class="list-inline-item"><a href="Http://www.youtube.com"><i class="fab fa-youtube text-white"></i></a></li>
                    <li class="list-inline-item"><a href="Http://www.tiktok.com"><i class="fab fa-tiktok text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
	</div>
</body>
</html>
